<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for InnerEye.CreateDataset, Extensive" Description="Detailed code analysis rules for InnerEye.CreateDataset" ToolsVersion="15.0">
  <Include Path="allrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1001" Action="Error" />
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA1009" Action="Error" />
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1016" Action="Error" />
    <Rule Id="CA1025" Action="Error" />
    <Rule Id="CA1026" Action="None" />
    <Rule Id="CA1028" Action="Error" />
    <Rule Id="CA1033" Action="Error" />
    <Rule Id="CA1034" Action="Error" />
    <Rule Id="CA1039" Action="Error" />
    <Rule Id="CA1040" Action="Error" />
    <Rule Id="CA1045" Action="Error" />
    <Rule Id="CA1049" Action="Error" />
    <Rule Id="CA1050" Action="Error" />
    <Rule Id="CA1051" Action="Error" />
    <Rule Id="CA1060" Action="Error" />
    <Rule Id="CA1061" Action="Error" />
    <Rule Id="CA1062" Action="Warning" />
    <Rule Id="CA1063" Action="Error" />
    <Rule Id="CA1064" Action="Error" />
    <Rule Id="CA1065" Action="Error" />
    <Rule Id="CA1301" Action="Error" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1304" Action="Error" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1400" Action="Error" />
    <Rule Id="CA1401" Action="Error" />
    <Rule Id="CA1403" Action="Error" />
    <Rule Id="CA1404" Action="Error" />
    <Rule Id="CA1405" Action="Error" />
    <Rule Id="CA1410" Action="Error" />
    <Rule Id="CA1415" Action="Error" />
    <Rule Id="CA1501" Action="Error" />
    <Rule Id="CA1502" Action="Error" />
    <Rule Id="CA1703" Action="Error" />
    <Rule Id="CA1707" Action="Error" />
    <Rule Id="CA1801" Action="Error" />
    <Rule Id="CA1804" Action="Error" />
    <Rule Id="CA1821" Action="Error" />
    <Rule Id="CA1823" Action="Error" />
    <Rule Id="CA1900" Action="Error" />
    <Rule Id="CA1901" Action="Error" />
    <Rule Id="CA2002" Action="Error" />
    <Rule Id="CA2100" Action="Error" />
    <Rule Id="CA2101" Action="Error" />
    <Rule Id="CA2108" Action="Error" />
    <Rule Id="CA2111" Action="Error" />
    <Rule Id="CA2112" Action="Error" />
    <Rule Id="CA2114" Action="Error" />
    <Rule Id="CA2116" Action="Error" />
    <Rule Id="CA2117" Action="Error" />
    <Rule Id="CA2122" Action="Error" />
    <Rule Id="CA2123" Action="Error" />
    <Rule Id="CA2124" Action="Error" />
    <Rule Id="CA2126" Action="Error" />
    <Rule Id="CA2131" Action="Error" />
    <Rule Id="CA2132" Action="Error" />
    <Rule Id="CA2133" Action="Error" />
    <Rule Id="CA2134" Action="Error" />
    <Rule Id="CA2137" Action="Error" />
    <Rule Id="CA2138" Action="Error" />
    <Rule Id="CA2140" Action="Error" />
    <Rule Id="CA2141" Action="Error" />
    <Rule Id="CA2146" Action="Error" />
    <Rule Id="CA2147" Action="Error" />
    <Rule Id="CA2149" Action="Error" />
    <Rule Id="CA2200" Action="Error" />
    <Rule Id="CA2202" Action="Error" />
    <Rule Id="CA2204" Action="Warning" />
    <Rule Id="CA2207" Action="Error" />
    <Rule Id="CA2210" Action="None" />
    <Rule Id="CA2212" Action="Error" />
    <Rule Id="CA2213" Action="Error" />
    <Rule Id="CA2214" Action="Error" />
    <Rule Id="CA2216" Action="Error" />
    <Rule Id="CA2220" Action="Error" />
    <Rule Id="CA2229" Action="Error" />
    <Rule Id="CA2231" Action="Error" />
    <Rule Id="CA2232" Action="Error" />
    <Rule Id="CA2235" Action="Error" />
    <Rule Id="CA2236" Action="Error" />
    <Rule Id="CA2237" Action="Error" />
    <Rule Id="CA2238" Action="Error" />
    <Rule Id="CA2240" Action="Error" />
    <Rule Id="CA2241" Action="Error" />
    <Rule Id="CA2242" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="AD0001" Action="Error" />
    <Rule Id="CS0162" Action="Error" />
    <Rule Id="CS0168" Action="Error" />
    <Rule Id="CS0251" Action="Error" />
    <Rule Id="CS0252" Action="Error" />
    <Rule Id="CS0253" Action="Error" />
    <Rule Id="CS0419" Action="Error" />
    <Rule Id="CS0420" Action="Error" />
    <Rule Id="CS0435" Action="Error" />
    <Rule Id="CS0436" Action="Error" />
    <Rule Id="CS0437" Action="Error" />
    <Rule Id="CS0440" Action="Error" />
    <Rule Id="CS0458" Action="Error" />
    <Rule Id="CS0464" Action="Error" />
    <Rule Id="CS0465" Action="Error" />
    <Rule Id="CS0469" Action="Error" />
    <Rule Id="CS0472" Action="Error" />
    <Rule Id="CS0473" Action="Error" />
    <Rule Id="CS0642" Action="Error" />
    <Rule Id="CS1058" Action="Error" />
    <Rule Id="CS1522" Action="Error" />
    <Rule Id="CS1633" Action="Error" />
    <Rule Id="CS1692" Action="Error" />
    <Rule Id="CS1717" Action="Error" />
    <Rule Id="CS1718" Action="Error" />
    <Rule Id="CS8019" Action="Warning" />
    <Rule Id="CS8020" Action="Error" />
    <Rule Id="CS8034" Action="Error" />
    <Rule Id="CS8040" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.EditorFeatures" RuleNamespace="Microsoft.CodeAnalysis.CSharp.EditorFeatures">
    <Rule Id="UseAutoProperty" Action="Error" />
    <Rule Id="UseAutoPropertyFadedToken" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0001" Action="Warning" />
    <Rule Id="IDE0002" Action="Error" />
    <Rule Id="IDE0003" Action="Error" />
    <Rule Id="IDE0004" Action="Error" />
    <Rule Id="IDE0005" Action="Error" />
    <Rule Id="IDE1005" Action="Error" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1007" Action="Error" />
    <Rule Id="SA1016" Action="Error" />
    <Rule Id="SA1017" Action="Error" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1206" Action="None" />
    <Rule Id="SA1207" Action="None" />
    <Rule Id="SA1208" Action="None" />
    <Rule Id="SA1216" Action="None" />
    <Rule Id="SA1305" Action="Warning" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1402" Action="None" />
    <Rule Id="SA1407" Action="None" />
    <Rule Id="SA1408" Action="None" />
    <Rule Id="SA1412" Action="Warning" />
    <Rule Id="SA1520" Action="Error" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1610" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1612" Action="None" />
    <Rule Id="SA1613" Action="None" />
    <Rule Id="SA1614" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1616" Action="None" />
    <Rule Id="SA1617" Action="None" />
    <Rule Id="SA1618" Action="None" />
    <Rule Id="SA1619" Action="None" />
    <Rule Id="SA1620" Action="None" />
    <Rule Id="SA1621" Action="None" />
    <Rule Id="SA1622" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1624" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1634" Action="None" />
    <Rule Id="SA1635" Action="None" />
    <Rule Id="SA1636" Action="None" />
    <Rule Id="SA1637" Action="None" />
    <Rule Id="SA1638" Action="None" />
    <Rule Id="SA1640" Action="None" />
    <Rule Id="SA1641" Action="None" />
    <Rule Id="SA1642" Action="None" />
    <Rule Id="SA1643" Action="None" />
    <Rule Id="SA1648" Action="None" />
    <Rule Id="SA1651" Action="None" />
    <Rule Id="SX1309" Action="Warning" />
  </Rules>
</RuleSet>